
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/js/ProductStation.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="titleTpl">
        @Html.DropDownList("Ck", new SelectList(ViewBag.ck, "ID", "line"), "请选择", new { @class = "ck", @ID = "ck" })select lay-ignore=lay-ignore   
    </script>
</head>
<body>



    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">系统设置</a></li>
            <li><a href="#">生产工位</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li class="click">
                    <span>
                        <img src="../../images/t01.png" />
                    </span>
                    <a id="add">新增工作类型</a>
                </li>
                <li>
                    工位查询：
                    <input class="ContractNumber" id="Name" type="text" style="width: 80px;" />
                </li>
            </ul>
            <button class="layui-btn" id="Search" data-type="reload">搜索</button>
        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#add').click(function () {
                $.ajax({
                    url: "/SystemSettings/ADDProductStation",
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        if (data === "true") {
                            layer.msg('添加成功');
                            $("#Search").click()
                        }
                    }
                });
            });

        });
    </script>
</body>
</html>
